<article>
    <div class="post">
        <div class="title">
            <p>
                <a href="/post/{{id}}">{{title}}</a>   
            </p>
            <p>{{post_text}}</p>
        </div>
        <div class="meta">
                                        <!--helper for formatting date-->  
            Posted by {{user.username}} on {{format_date createdAt}}
            |                             <!--helper to pluralize words-->  
            {{comments.length}} {{format_plural "Comment" comments.length}}
        </div>
    </div>
</article>

