<article>
    <div class="post">
        <div class="title">
            <p>
                <a href="/post/{{post.id}}">{{post.title}}</a>  
            </p>
            <span>{{post.post_text}}</span>
        </div>
        <div class="meta">
                                        <!--helper for formatting date-->  
            Posted by {{post.user.username}} on {{format_date post.createdAt}}
            |                             <!--helper to pluralize words-->  
            {{post.comments.length}} {{format_plural "Comment" post.comments.length}}
        </div>
    </div>
    
</article>

<!--only logged in users can see this-->
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

<h3>Comments</h3>
<!--partial for displaying comments-->
{{> comments post.comments}}

<!--only needed for logged in users-->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}